@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f1f1f1;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.container {
  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-around;
}
.card {
  position: relative;
  width: 550px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 10px 10px 5px #aaaaaa;
  transition: 0.5s;
}
.card h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #666;
  text-align: center;
}
.Form {
  width: 90%;
  margin: 0 auto;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.card-footer {
  background-color: #fff;
  height: 50px;
  border-top: 0.5px solid #aaaaaa;
}
.fMenu {
  list-style: none;
  display: flex;
}
.fMenu li {
  padding: 5px;
  justify-content: space-between;
}
.fMenu li:first-child {
  margin-right: 70px;
  margin-left: 5px;
  padding: 5px;
  font-size: 12px;
}
.fMenu li:last-child {
  margin-left: 70px;
}
.fMenu li a {
  font-size: 12px;
  text-decoration: none;
  color: #444;
}
.fMenu li a:hover {
  text-decoration: underline;
  color: #666;
}
.row {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
p {
  margin: 5px;
  padding: 5px;
  font-size: 24px;
}
.ckinput {
  margin: 5px;
  padding: 5px;
  font-size: 24px;
}
.Cross {
  padding: 10px;
  font-size: 11px;
  color: #fff;
}
.Cross:hover {
  padding: 10px;
  font-size: 11px;
  color: #444;
}
